.list-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-insets: 0;
    -fx-padding: 10;
}

.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: white;
    -fx-cell-hover-color: transparent;
}

.root {
    -fx-background-color: transparent;
}

.dialog-background {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10;
    -fx-padding: 20;
}

.label-header {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-effect: dropshadow(one-pass-box, black, 5, 0.0, 2, 2);
}

.custom-button {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-border-color: transparent;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, black, 5, 0.0, 1, 1);
}

.custom-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

.custom-textfield {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: white;
    -fx-effect: dropshadow(gaussian, black, 5, 0.0, 1, 1);
}
