.list-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-insets: 0;
    -fx-padding: 10;
}

.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: white;
    -fx-cell-hover-color: transparent;
}
